body{
    background-color:rgb(21, 21, 21);
}
h1 {
    color: rgb(243, 237, 71);
    text-align: center;
    font-family: 'Fornire Light';
    font-size: 80px;

}
strong{
    color: rgb(255, 249, 249);
    text-align: center;
    font-family: 'MonospaceTypewriter';
    font-size: 25px;
}
h2,h3{
    color: rgb(180, 175, 32);
    text-align: justify;
    font-family: sofia-pro, sans-serif;
    font-style: normal;
    font-size: 19px;
}
IMG.displayed {
    display: block;
    margin-left: auto;
    margin-right: auto }